---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

// $body-color, $background-color, $text-color, $link-color, and $masthead-link-color

$body-color: #fafafa;
$link-color: #cf2937;

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


