<div class="border max-w-sm p-3 mt-10">
  <div class="mb-2">I send a newsletter every now and then.</div>
  <form
    action="https://buttondown.email/api/emails/embed-subscribe/kianpak"
    method="post"
    target="popupwindow"
    onsubmit="window.open('https://buttondown.email/kianpak', 'popupwindow')"
    class="embeddable-buttondown-form"
  >
    <input type="email" name="email" id="bd-email" placeholder="your email" class="p-2" required />
    <input type="submit" value="Subscribe" class="btn-primary" />
  </form>
</div>
